body{
  font-family: 'Karla', sans-serif;
  background-color: hsl(204, 43%, 93%);
/*para que se ajute al alto de la pantalla del dispositivo*/
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
h1{
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(179, 62%, 43%);
}
h2{
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}
p{
  font-size: 1rem;
  font-weight: 400;
  color: hsl(204, 43%, 93%);
}
span{
  font-size: 2.18rem;
  font-weight:700;
  color: white;
}
.text-1{
  color: hsl(71, 73%, 54%);
}
.paragh-1{
  color: hsl(218, 22%, 67%);
}
button{
  background-color: hsl(71, 73%, 54%);
  color: white;

  width: 90%;
  height: 35px;
  margin-right: auto;
  margin-left: auto;

  border-style: none;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.card-parent{
  display: grid;
  grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr[x3];
  grid-template-rows: [y0] 1fr [y1] 1fr [y2];

  width: 50%;
  height: auto;
  /* margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: auto; */
}
.card1{
  background-color: white;
  grid-column-start: x0;
  grid-column-end: x3;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}
.card2{
  grid-column-start: x0;
  grid-column-end: x3;
  grid-row: y1/y2;

  display: flex;
}
.item2{
  background-color: hsl(179, 62%, 43%);
  flex:1;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 3%;

  border-bottom-left-radius: 15px;

}

.item3{
  background-color: #4ABEBD;
  flex:1;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 3%;

  border-bottom-right-radius: 15px;

}

/*MOBILE SCREEN*/
@media only screen and (max-width:414px){
  .card-parent{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top:20%;
    margin-bottom:20%;
  }
  .card1{
    flex:1;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .card2{
    flex:1;
    flex-direction: column;
  }
  .item2{
    flex:1;
    border-bottom-left-radius: 0px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .item3{
    flex:1;
    border-bottom-right-radius: 0px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  h1{
    font-size: 16px;
  }
  h2{
    font-size: 14px;
  }
  p{
    font-size: 12px;
  }
  span{
    font-size: 16px;
  }

}
